
<div{{ attributes }}>
    <div class="swiper-container">

        <div class="swiper-wrapper">
            {% for item in items %}
                <div {{ item.slide_attr }}>
                    <div class="slide-content container">
                        <div class="slide-title">{{ item.title }}</div>
                        <div class="slide-text">{{ item.text }}</div>
                        <div class="slide-link btn btn-link pull-right">
                            <a {{ item.a }}>Подробнее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Navigation -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>